@font-face {
    font-family: 'NanumGothic';
    src: url("../src/Fonts/NanumGothic.woff2") format('woff2'),
    url("../src/Fonts/NanumGothic.woff") format('woff'),
    url("../src/Fonts/NanumGothic.otf") format('truetype')
}

@font-face {
    font-family: 'NanumGothicBold';
    src: url("../src/Fonts/NanumGothicBold.woff2") format('woff2'),
    url("../src/Fonts/NanumGothicBold.woff") format('woff'),
    url("../src/Fonts/NanumGothicBold.otf") format('truetype')
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}